Repository 2020-Spring-Cohort/artists-albums-songs-team, pull requests merged in 2020-03, with the labels that each got.

#18 Song Template
  frontend-spa/song.html
Labels: css, template

#21 Song repo storage jpa
  backend-api/src/main/java/org/wcci/apimastery/Storage/SongRepository.java
  backend-api/src/main/java/org/wcci/apimastery/Storage/SongStorage.java
  backend-api/src/main/java/org/wcci/apimastery/Storage/SongStorageJpaImpl.java
Labels: api

#26 Song Constructors
  backend-api/src/main/java/org/wcci/apimastery/models/Song.java
Labels: api, bug, enhancement

#29 Song controller
  backend-api/src/main/java/org/wcci/apimastery/Controllers/SongController.java
  backend-api/src/main/java/org/wcci/apimastery/Storage/SongRepository.java
  backend-api/src/main/java/org/wcci/apimastery/Storage/SongStorage.java
  backend-api/src/main/java/org/wcci/apimastery/Storage/SongStorageJpaImpl.java
Labels: api, enhancement

#33 Artist Hibernate Methods
  backend-api/src/main/java/org/wcci/apimastery/Storage/ArtistRepository.java
  backend-api/src/main/java/org/wcci/apimastery/Storage/ArtistStorage.java
  backend-api/src/main/java/org/wcci/apimastery/Storage/ArtistStorageJpaImpl.java
  backend-api/src/main/java/org/wcci/apimastery/models/Artist.java
Labels: api, bug, enhancement

#36 Song controller
  backend-api/src/main/java/org/wcci/apimastery/Controllers/SongController.java
  backend-api/src/main/java/org/wcci/apimastery/Storage/SongStorage.java
  backend-api/src/main/java/org/wcci/apimastery/Storage/SongStorageJpaImpl.java
  backend-api/src/main/java/org/wcci/apimastery/models/Song.java
Labels: api, enhancement

#44 Recursion fix
  backend-api/src/main/java/org/wcci/apimastery/Controllers/AlbumController.java
  backend-api/src/main/java/org/wcci/apimastery/Controllers/ArtistController.java
  backend-api/src/main/java/org/wcci/apimastery/Controllers/SongController.java
  backend-api/src/main/java/org/wcci/apimastery/models/Album.java
  backend-api/src/main/java/org/wcci/apimastery/models/Artist.java
  backend-api/src/main/java/org/wcci/apimastery/models/Song.java
Labels: api, bug

#47 JSON Fix
  frontend-spa/src/js/artistspage.js
Labels: bug

#50 Song component
  backend-api/src/main/java/org/wcci/apimastery/WebConfig.java
  frontend-spa/CSS/layout.css
  frontend-spa/song.html
  frontend-spa/src/js/songCreator.js
  frontend-spa/src/js/songFetcher.js
  frontend-spa/src/js/songPage.js
Labels: component, enhancement

#51 updated populator, artist component stuff
  backend-api/src/main/java/org/wcci/apimastery/Populator.java
  backend-api/src/main/java/org/wcci/apimastery/models/Artist.java
  frontend-spa/artist.html
  frontend-spa/src/js/artistbuilder.js
  frontend-spa/src/js/artistspage.js
  frontend-spa/src/js/newartistform.js
  frontend-spa/src/js/songFetcher.js
Labels: component

#52 artist component update
  frontend-spa/src/js/artistCreator.js
  frontend-spa/src/js/artistFetcher.js
Labels: component

#53 Album view and SPA
  frontend-spa/CSS/layout.css
  frontend-spa/index.html
  frontend-spa/src/js/albumCreator.js
  frontend-spa/src/js/albumFetcher.js
  frontend-spa/src/js/albumPage.js
  frontend-spa/src/js/app.js
  frontend-spa/src/js/artistFetcher.js
  frontend-spa/src/js/newartistform.js
  frontend-spa/src/js/songFetcher.js
Labels: component, css, enhancement

#54 JSON Fixes and Populator Additions
  backend-api/src/main/java/org/wcci/apimastery/Populator.java
  backend-api/src/main/java/org/wcci/apimastery/models/Album.java
  backend-api/src/main/java/org/wcci/apimastery/models/Artist.java
  backend-api/src/main/java/org/wcci/apimastery/models/Song.java
  frontend-spa/CSS/style.css
  frontend-spa/src/js/albumCreator.js
  frontend-spa/src/js/albumFetcher.js
  frontend-spa/src/js/albumPage.js
  frontend-spa/src/js/app.js
  frontend-spa/src/js/artistCreator.js
  frontend-spa/src/js/artistFetcher.js
  frontend-spa/src/js/artistspage.js
  frontend-spa/src/js/songFetcher.js
Labels: api, component, css, enhancement

#55 Populator Additions and JS Changes
  backend-api/src/main/java/org/wcci/apimastery/Controllers/SongController.java
  backend-api/src/main/java/org/wcci/apimastery/Populator.java
  backend-api/src/main/java/org/wcci/apimastery/Storage/SongRepository.java
  backend-api/src/main/java/org/wcci/apimastery/Storage/SongStorage.java
  backend-api/src/main/java/org/wcci/apimastery/Storage/SongStorageJpaImpl.java
  backend-api/src/main/java/org/wcci/apimastery/models/Album.java
  backend-api/src/main/java/org/wcci/apimastery/models/Artist.java
  backend-api/src/main/java/org/wcci/apimastery/models/Song.java
  frontend-spa/CSS/layout.css
  frontend-spa/CSS/style.css
  frontend-spa/src/js/albumCreator.js
  frontend-spa/src/js/albumPage.js
  frontend-spa/src/js/artistCreator.js
Labels: api, component, css, enhancement

#56 styling
  frontend-spa/CSS/style.css
  frontend-spa/index.html
  frontend-spa/src/js/app.js
Labels: component, css, enhancement

#57 Controller tests
  backend-api/src/test/java/org/wcci/apimastery/ApiMasteryApplicationTests.java
  backend-api/src/test/java/org/wcci/apimastery/Controllers/AlbumControllerTest.java
  backend-api/src/test/java/org/wcci/apimastery/Controllers/ArtistControllerTest.java
  backend-api/src/test/java/org/wcci/apimastery/HttpRequestTest.java
  backend-api/src/test/java/org/wcci/apimastery/WebLayerTest.java
Labels: api, bug, enhancement
